GF_SECURITY_ADMIN_PASSWORD=admin
GF_INSTALL_PLUGINS=camptocamp-prometheus-alertmanager-datasource,grafana-clock-panel,vonage-status-panel
# https://grafana.com/plugins/grafana-clock-panel
# https://grafana.com/plugins/vonage-status-panel
# https://github.com/camptocamp/grafana-prometheus-alertmanager-datasource
